
/* CSS Reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:30px;
}

/* Variabili 
Non le ho usate poi nella formula perchè anche se scritta 
giusta (i.e. verificata con GEMINI) il browser non la leggeva
però le ho capite e provato a usarle */


: root {
    --col-n: 3;
    --col-gap: 30px;
}
    

/* Utilities */



.light-font {
        font-size: 12px;
        color: gray;
}

.txt-small-w {
     font-size: 12px;
     color:#ffff;
}

.d-flex {
    display: flex;
}

/*--------FOCUS DEL GIORNO---------
----------------------------------- 

sistemiamo il layout con flex */

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 30px;
   row-gap:20px;
}

.plan-card {
    min-width: 354px;
    flex-shrink:0;
    flex-grow: 1;
    flex-basis: calc((100% / 3) - (30px * 2) / 3);
}

/* metto due colonne alla terza card */

.f-ultimate {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex-shrink: 0;
   align-items: center;
   column-gap: 20px;
   justify-content: center;
   width:100%
}

.inner-row {
    flex-basis: calc((100% / 2) - (20px * 1) / 2);
    min-width:350px;
}

.ultimate {
    padding:0; 
}

/* Header */

.header-title: {
    letter-spacing:4px;
}

.buttons {
   text-align: right;
   padding:15px 0;
}

/* Plan Cards*/

.plan-size {
    font-weight: 600;
}


.plan-card {
    padding: 30px 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    min-width: 350px;
}   

ul {
    list-style: none;
    padding-top: 15px;
    padding-left: 30px;
    line-height: 2;
    font-weight: 100;
    margin: 0 auto;
    
}

.pricing {
    text-align: center;
    padding-top: 20px;
}

.p-basic {
    font-size: 40px;
    font-weight: 800;
    position:relative;
}

/* voglio usare ::before */

.p-basic::before {
 content: "$";
    position: absolute;
    left: -20px;
    bottom: 5px;
    font-size: 24px;
    transform: translatey(-2px);

}

.mo {
    font-weight: 100;
}

span.text, span.offer {
    color:black;
}

.saving {
    justify-content:center;
    gap:5px;
    align-items:baseline;
    padding:15px 0;
}

.offer {
    border-radius: 5px;
    background-color: #E3E3E3;
    padding: 5px;
}

.button {
    justify-content: center;
}

.choose-plan {
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    
    font-weight: 700;
    width:100%
}

.even {
    color: white;
    background-color: #6500FF;
}

.uneven {
    color:black;
    background-color: white;
}

.feature-list {
    text-align:center;
}

/* formattazione colori seconda card*/

.professional {
    color:#ffff;
    background-color: #6500FF;
}

