
/* CSS Reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:30px;
}

.header-title: {
    letter-spacing:4px;
}

.header-text, .buttons {
        font-size: 12px;
        color: gray;
}

.buttons {
   text-align: right;
   padding:15px 0;
}

